.intro__list {
  margin: 0;
  padding: 33px 0 0 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .intro__list {
    display: block;
    padding-top: 33px;
    width: 690px;
    align-self: self-start;
  }
}