.cover__subtitle {
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  width: 288px;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    margin-top: 32px;
    width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
  }
}